$fontFamily:"Raleway",
sans-serif;
$primaryColor  :#0A2A66;
$secondaryColor:#F2C53D;
$shadow        : #000000aa;
$accent        : #e7e7e7;
$pad           : 3rem;
$md            : 780px;
$sm            : 520px;

%transition {
    transition: .5s;
}